

<section id="hero-1619">
  <div class="cs-container">
      <div class="cs-content avigarden-title">
          <img class="img-avigarden" src="../../../assets/logo.jpg" alt="logo" aria-hidden="true" decoding="async">
          <h1 class="cs-title">Jardinería y Paisajismo</h1>
          <a routerLink="/nuestros-servicios" class="cs-button-solid">Pedir presupuesto</a>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/check-circle.svg" alt="icon" width="48" height="48">
              <h3 class="cs-h3">Belleza natural asegurada</h3>
              <p class="cs-item-text">
                Con nuestro servicio de paisajismo y jardinería, transformamos tus espacios exteriores en verdaderos paraísos de flora y fauna, garantizando un ambiente visualmente deslumbrante.
              </p>
          </li>
          <li class="cs-item">
              <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/speedometer.svg" alt="icon" width="48" height="48">
              <h3 class="cs-h3">Experticia y fiabilidad</h3>
              <p class="cs-item-text">
                Con una trayectoria probada en el sector, ofrecemos servicios de paisajismo y jardinería que combinan creatividad, calidad y compromiso, asegurando la máxima satisfacción de nuestros clientes.
              </p>
          </li>
          <li class="cs-item">
              <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Like.svg" alt="icon" width="48" height="48">
              <h3 class="cs-h3">Compromiso con la perfección</h3>
              <p class="cs-item-text">
                En el mantenimiento de piscinas, nos esforzamos por alcanzar la excelencia en cada detalle, desde el equilibrio químico del agua hasta la limpieza meticulosa, garantizando un ambiente acuático impecable en todo momento.
              </p>
          </li>
          <li class="cs-item">
              <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Like.svg" alt="icon" width="48" height="48">
              <h3 class="cs-h3">Tu oasis personalizado</h3>
              <p class="cs-item-text">
                Con una atención cuidadosa a tus necesidades y deseos, nuestro servicio de mantenimiento de piscinas adapta cada programa según tus preferencias, asegurando que tu oasis acuático refleje tu estilo de vida y personalidad.
              </p>
          </li>
      </ul>
  </div>

  <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
  <picture class="cs-background">
      <source media="(max-width: 600px)" srcset="../../../assets/header-img-mobile.jpg">
      <source media="(min-width: 601px)" srcset="../../../assets/header-img.jpg">
      <img decoding="async" src="../../../assets/header-img.jpg" alt="meeting" width="2250" height="1500" aria-hidden="true">
  </picture>
</section>
                              

<app-gallery-filter></app-gallery-filter>
                            
