<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->
<section id="hero-408">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Paisajismo y Jardinería {{citySEO ? 'en ' + citySEO.cityName : ''}}</h2>
            <p class="cs-text">
                Transformamos tus espacios exteriores en oasis naturales con nuestro servicio de paisajismo y jardinería, creando ambientes armoniosos que reflejan tu estilo y conexión con la naturaleza.
            </p>
            <a href="mailto:avigarden_jarypas@hotmail.com" target="_blank" class="cs-button-solid">Pedir presupuesto</a>
            <a routerLink="/nuestros-servicios" class="cs-button-transparent">otros servicios</a>
         
        </div>
        <div class="cs-stat-group">
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="../../../assets/garden-2.jpg">
                <source media="(min-width: 601px)" srcset="../../../assets/garden-2.jpg">
                <img loading="lazy" decoding="async" src="../../../assets/garden-2.jpg" alt="leaves" width="842" height="737" aria-hidden="true">
            </picture>
         
        </div>
    </div>
</section>
                                