
<section id="hero-408">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Mantenimiento de piscinas {{citySEO ? 'en ' + citySEO.cityName : ''}}</h2>
            <p class="cs-text">
                Mantén tu piscina impecable y lista para disfrutar con nuestro servicio de mantenimiento especializado, garantizando agua cristalina y un ambiente seguro para toda la familia.
            </p>
            <a href="mailto:avigarden_jarypas@hotmail.com" target="_blank" class="cs-button-solid">Pedir presupuesto</a>
            <a routerLink="/nuestros-servicios" class="cs-button-transparent">otros servicios</a>        
        </div>
        <div class="cs-stat-group">
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="../../../assets/pool-2.jpg">
                <source media="(min-width: 601px)" srcset="../../../assets/pool-2.jpg">
                <img loading="lazy" decoding="async" src="../../../assets/pool-2.jpg" alt="leaves" width="842" height="737" aria-hidden="true">
            </picture>
           
        </div>
    </div>
</section>
                                