<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-404">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Servicios</span>
                <h2 class="cs-title">Algunos de nuestros trabajos</h2>
            </div>
            <div class="cs-button-group">
                <button class="cs-button" data-filter="one">
                    Todos
                </button>
                <button class="cs-button" data-filter="two">
                    Paisajismo
                </button>
                <button class="cs-button" data-filter="three">
                    Jardinería
                </button>
                <button class="cs-button" data-filter="four">
                    Mantenimiento de piscinas
                </button>
            </div>
        </div>
        <!--Gallery 1-->
        <div class="cs-gallery" data-category="one">
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../../assets/work-design-1.jpg">
                <source media="(min-width: 601px)" srcset="../../assets/work-design-1.jpg">
                <img loading="lazy" decoding="async" src="../../assets/work-design-1.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../../assets/work-garden-2.jpeg">
                <source media="(min-width: 601px)" srcset="../../assets/work-garden-2.jpeg">
                <img loading="lazy" decoding="async" src="../../assets/work-garden-2.jpeg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../../assets/work-design-2.jpg">
                <source media="(min-width: 601px)" srcset="../../assets/work-design-2.jpg">
                <img loading="lazy" decoding="async" src="../../assets/work-design-2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
          
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../../assets/work-pool-2.jpg">
                <source media="(min-width: 601px)" srcset="../../assets/work-pool-2.jpg">
                <img loading="lazy" decoding="async" src="../../assets/work-pool-2.jpg" alt="gallery" width="305" height="400">
            </picture>
        
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../../assets/work-design-1.jpg">
                <source media="(min-width: 601px)" srcset="../../assets/work-design-1.jpg">
                <img loading="lazy" decoding="async" src="../../assets/work-design-1.jpg" alt="gallery" width="305" height="400">
            </picture>

            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../../assets/work-pool-1.jpg">
                <source media="(min-width: 601px)" srcset="../../assets/work-pool-1.jpg">
                <img loading="lazy" decoding="async" src="../../assets/work-pool-1.jpg" alt="gallery" width="630" height="400">
            </picture>
        </div>
        <!--Gallery 2-->
        <div class="cs-gallery cs-hidden" data-category="two">
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../../assets/work-design-1.jpg">
                <source media="(min-width: 601px)" srcset="../../assets/work-design-1.jpg">
                <img loading="lazy" decoding="async" src="../../assets/work-design-1.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../../assets/work-design-2.jpg">
                <source media="(min-width: 601px)" srcset="../../assets/work-design-2.jpg">
                <img loading="lazy" decoding="async" src="../../assets/work-design-2.jpg" alt="gallery" width="305" height="400">
            </picture>
           
        </div>
        <!--Gallery 3-->
        <div class="cs-gallery cs-hidden" data-category="three">
           <!--Picture 4-->
           <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../../assets/work-garden-1.jpeg">
                <source media="(min-width: 601px)" srcset="../../assets/work-garden-1.jpeg">
                <img loading="lazy" decoding="async" src="../../assets/work-garden-1.jpeg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../../assets/work-garden-2.jpeg">
                <source media="(min-width: 601px)" srcset="../../assets/work-garden-2.jpeg">
                <img loading="lazy" decoding="async" src="../../assets/work-garden-2.jpeg" alt="gallery" width="305" height="400">
            </picture>
           
        </div>
        <!--Gallery 4-->
        <div class="cs-gallery cs-hidden" data-category="four">
           <!--Picture 4-->
           <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../../assets/work-pool-1.jpg">
                <source media="(min-width: 601px)" srcset="../../assets/work-pool-1.jpg">
                <img loading="lazy" decoding="async" src="../../assets/work-pool-1.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../../assets/work-pool-2.jpg">
                <source media="(min-width: 601px)" srcset="../../assets/work-pool-2.jpg">
                <img loading="lazy" decoding="async" src="../../assets/work-pool-2.jpg" alt="gallery" width="305" height="400">
            </picture>

           
        </div>
    </div>
</section>
                                